{% extends 'base.html' %}
{% load static %}

{% block title %}Tips de Cuidado{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col text-left">
            <a href="{% url 'ingreso' %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
    <h1 class="bienvenida">Tips de Cuidado para Mascotas</h1>
    <div class="row card-section">
        {% for tip in tips %}
        <div class="develop">
            <img src="{{ tip.image_url }}" class="develop-img-top" alt="{{ tip.titulo }}">
            <div class="develop-info">
                <h3>{{ tip.titulo }}</h3>
                <p>{{ tip.contenido }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
